@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #000000;
  --primary-color-dark: #9333ea;
  --secondary-color: #666666;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #ffffff;
  --max-width: 1200px;
  --skill-section-color: #f1f1fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container1 {
  min-height: 80vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 3.6rem 2rem 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  border: 5px solid #000000;
  width: min(20rem, 90%);
  border-radius: 15%;
}

.skill-section {
  background-color: var(--skill-section-color);
}

.section-container2 {
  min-height: 80vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 4rem; */
}

.skill-header {
  height: 65px;
  display: inline-block;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.line {
  flex-grow: 1;
  border-top: 2px solid rgb(0, 0, 0);
  width: 1135px;
}

.gridbox {
  display: grid;
  height: 400px;
  grid-template-columns: repeat(6, 1fr);
}

.box {
  height: 120px;
  width: 125px;
  position: relative;
}

.outer-box {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4883e9
    linear-gradient(
      140.53deg,
      rgba(255, 255, 255, 0.5) 12.34%,
      rgba(255, 255, 255, 0) 51.46%
    );
  border-radius: 15px;
  position: absolute; /* Change this line to position absolute */
  top: 50%; /* Add this line to move to the vertical center */
  left: 50%; /* Add this line to move to the horizontal center */
  transform: translate(-50%, -50%);
}

.skill-img {
  height: 50px;
  width: 50px;
}

.skill-text {
  position: absolute; /* Add this line for absolute positioning */
  bottom: -5px; /* Add this line to position text at the bottom */
  width: 100%; /* Add this line to make the text span the entire width of the box */
  text-align: center; /* Add this line to center the text */
  margin: 0;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container1 {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .image img {
    border: 5px solid #000000;
    width: min(15rem, 90%);
    border-radius: 15%;
  }

  .action__btns {
    margin: auto;
  }
}
