* {
  text-decoration: none;
  margin: 0;
}
.navbar {
  background: none;
  font-family: calibri;
  border-radius: 20px;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: rgb(4, 0, 63);
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
}

.intro-container {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 75px;
  top: 70px;
}

.intro {
  margin: 0;
  position: absolute;
  top: 50px;
}
